
body {
    background-color: black;
    background-image:
            radial-gradient(
                rgba(0, 150, 0, 0.75), black 120%
            );
    color: white;
    font: 1.3rem Inconsolata, monospace;
    text-shadow: 0 0 5px #C8C8C8;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body::after {

}

::selection {
    background: #0080FF;
    text-shadow: none;
}

a {
    color: white;
}

a:hover {
  color: #C9995D;
}

.homepage-container {
  max-width: 42em;
}

.right-align-box {
    text-align: right;
    margin-bottom: 100px;
    margin-top: 60px;
}
